<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
</head>
<body>
    
    <div class="nav"><h1>Lista de Usuários</h1></div>
    <a href="{{url_for('users.register')}}"><button>Adicionar</button></a>
    <div class='main'>
    <hr>
    <ul>
    {% for user in users %}
    <li><p>{{user.nome}}</p></li>
    {% endfor %}
    </ul>
    </div>
    
</body>
</html>