<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="nav">
        <h1>Sistema Biblioteca</h1>
        
    </div>
       <div class="main">
        <a href="/users"><button>Usuários</button></a>
        <a href="/books"><button>Livros</button></a>
        <a href="/emprestimos"><button>Emprestimos</button></a>
       </div>
</body>
</html>